.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.cart-img {
  width: 150px;
}

.status-accepted {
  color: green;
}

.status-rejected {
  color: red;
}

.status-pending {
  color: orange;
}
